.panel.panel-primary
	.panel-heading.text-center {{myVar}}
	.panel-body
		table.table-striped
			thead
				th Name
				th Address
			tbody
				tr(ng-repeat="dat in geodata")
					td {{dat.name}}
					td {{dat.address}}



