extends layout

block content
	.container
		.row
			.jumbotron
				h1= title
		.row
			.col-md-5.col-md-offset-5
				button(type="button").btn.btn-success.verylargebutton Click for Data
		.row
			// Wrapper
			#wrapper

			// USER LIST
			h2 User List
			#userList
			table
				thead
					th Name
					th Address
					th Latitude
					th Longitude
				tbody#aaa
		.row
			div(ng-view)
