body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #0B401D;
}
.footer p, .footer h2 {
  color: white;
  text-align: center;
  margin: 25px;
}

.panel-primary {
  border-color: #0B401D !important;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #0B401D !important;
  border-color: #0B401D !important;
}

.verylargebutton {
  width: 200px;
  height: 50px;
}

td {
  width: 200px;
}
