body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #0B401D;
}
.footer p, .footer h2 {
  color: white;
  text-align: center;
  margin-top: 10px;
}

#map {
  height: 180px;
}

.chart {
  background-color: #99BFAA;
  opacity: 0.5;
  height: 100px;
  width: 90%;
  padding-left: 20px;
}

.verylargebutton {
  width: 200px;
  height: 50px;
}

td {
  width: 200px;
}
