@import "compass/css3";
$color1: #99BFAA;
$color2: #0B401D;
$color3: #99BFAA;
$color4: #A69B8D;
$color5: #11592A;
$footer-height:60px;
// http://www.hubcab.org/#13.00/40.7219/-73.9484
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $color2;
    p, h2 {
        color: white;
        text-align:center;
        margin:$footer-height/4;
    }

}
.panel-primary {
    border-color: $color2 !important;
    >.panel-heading {
        color: #fff;
        background-color: $color2 !important;
        border-color: $color2 !important;
    }
}
.verylargebutton {
    width: 200px;
    height: 50px;
}
td {
    width: 200px;
}
